/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }




/*****************************************************************************/
/*
/* Bootstrap/Docs overrides
/*
/*****************************************************************************/

.bs-docs-header {
  display: none;
}





/*****************************************************************************/
/*
/* tuanderful.github.io
/*
/*****************************************************************************/

body,
input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

header {
  /*background: #1f6697; */
  /*background: #04398e;*/
  background: #134380; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEzNDM4MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNzUxOWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #134380 0%, #17519c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#134380), color-stop(100%,#17519c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #134380 0%,#17519c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #134380 0%,#17519c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #134380 0%,#17519c 100%); /* IE10+ */
  background: linear-gradient(to bottom, #134380 0%,#17519c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#134380', endColorstr='#17519c',GradientType=0 ); /* IE6-8 */
  /*border-bottom: 1px solid rgba(255,255,255,.30);*/
  box-shadow: 0px 0px 3px 0px #00418c
}
 
header a {
  color: #7ab0d4;
  -webkit-transition: color .2s;
}

#top {
  margin-bottom: 0;
}

#top a:hover,
#top a:focus {
  background-color: initial;
  color: #e6ecee;
}

#page-title {
  background: #f2f2f2;
  background: radial-gradient(circle farthest-side at center,#FFF 0,#dae4e4 100%);
  box-shadow: 0px 0px 3px rgba(51,51,51,0.15);
  padding-bottom: 10px;
}





